lecture/1.02-lesson-python-intro.ipynb
lecture/1.05-lesson-list-comps.ipynb
lecture/1.07-lesson-descriptive-statistics.ipynb
lecture/2.01-lesson-eda.ipynb
lecture/2.02-lesson-data-viz.ipynb
lecture/2.03-lesson-probability.ipynb
lecture/2.05-lesson-continuous-distributions.ipynb
lecture/3.01-lesson-linear-regression.ipynb
lecture/3.02-regression-metrics.ipynb
lecture/3.03-lesson-bias-variance.ipynb
lecture/3.07-feature-engineering.ipynb
lecture/4.01-lesson-logistic-regression.ipynb
lecture/4.02-lesson-regularization.ipynb
lecture/4.03-lesson-knn.ipynb
lecture/4.04-lesson-classification-metrics-i.ipynb
lecture/4.05-hyperparameters-gridsearch-pipelines.ipynb
lecture/5.04-lesson-nlp-i.ipynb
lecture/5.05-lesson-nlp-ii.ipynb
lecture/5.06-lesson-classification-metrics-ii.ipynb
lecture/6.01-lesson-decision-trees.ipynb
lecture/6.02-lesson-bootstrapping-bagging.ipynb
lecture/6.03-lesson-random-forests-extra-trees.ipynb
lecture/6.04-lesson-boosting.ipynb
lecture/6.06-lesson-glms.ipynb
lecture/6.07-lesson-gradient-descent.ipynb
lecture/7.04-gcp-etl.ipynb
lecture/8.02-lesson-tensorflow-keras-intro.ipynb
lecture/9.03-lesson-pca.ipynb
lecture/9.05-lesson-recommender-systems.ipynb
lecture/10.01-intro-to-time-series.ipynb
lecture/10.02-linear-time-series.ipynb
lecture/10.03-arima-models.ipynb
lecture/10.04-var-models.ipynb
lecture/10.06-lesson-rnns.ipynb
lecture/11.01-intro-to-bayes.ipynb
lecture/11.02-bayesian-inference.ipynb
